
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #f9f9f9
}
/*head starets*/
.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 56px;
    padding-left: 30px;
    position: sticky;
    top: 0;
    border-bottom:0.1px solid lightgray;
    background-color: white;
}
.insta_icon{
    padding: 10px;
    margin: 10px;
}
.insta_icon img{
    width: 170px;
    height: 40px;
}
.header_search{
    flex: 0.2;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: auto;
    height: 40px;
}
.header_search input{
    margin: 5px;
    width: 200px;
    height: 10px;
    padding: 10px;

}
.header_search img{
    width: 30px;
    height: 30px;
    margin: 8px;
    width: 23px;
    padding-left: 23px;
}
.header_icons
{
    display: flex;
    padding: 20px;
    margin: 10px;
  
}
.header_icons img{
    width: 30px;
    height: 30px;
    padding-left: 23px;
}
/*header ends*/
/*main body starts*/
.mainbody{
    margin-left: 17%;
    margin-right: 17%;
    width: 66%;
    display: flex;
    margin-top: 37px;
   
}
.feed_section{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.story_section{
    width: 100%;
    background-color: white;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    border-radius: 3px;
    border: 1px solid lightgray;
    margin: 10px;
}
.profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:3px solid tomato;
    align-items: center;

}
.profile h5{
    margin: 1px;
    font-size: 13px;
    font-family: 'Roboto';
}
/*post starts*/
.post_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    background-color: white;
    margin-top: 10px;
    height: fit-content;
    border-radius: 3px;
}
.post_head img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px;
}
.post_head{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    
}
.post_head p{
    padding-right: 450px;
}
.post{
    margin:0;
}
.post img{
    width: 100%;
    height: fit-content;
}
.post_inputs{
    width: 100%;
    height: 40px;
    
}         
.post_inputs img{
    width: 25px;
    padding: 5px;
    margin: 5px;
}
.title_2{
    font-weight:bold;
    padding-left: 5px;
    padding-right: 5px;

}
.post_captions{
    display: flex;
    font-family: 'Roboto';
}
.post_captions img{
    padding: 5px;
    margin: 10px;
}
.side_bar{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 30px;

}
.sidebarprofile{
    display:flex ;
    width: 100%;
    height: 50PX;
    justify-content: space-between;
    font-family: 'Roboto';
}
.sidebarprofile img{
    width: 50PX;
    height: 50px;
    border-radius: 50%;

}
.sidebarsuggestions{
    width: 100%;
    height: 55px;
    display:flex ;
    justify-content: space-between;
    font-family: 'Roboto';
}
.sidebardown{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    

}
.sidebardown img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.switch{
    color: #0a66c2;
}
.follow{
    color: #0a66c2;
    border:none;
    background-color: #f9f9f9;
}
.profilename{
    padding-right: 78px;
}

/*

/*post ends*/
/*main body ends*/